.todo-form {
  
    text-align: center;
    background-color: #4796E5;
    border: transparent;
    border-radius: 5px;
    width: 80%;
    margin-left: 100px;
    height: 200px;
}
.listt {
    list-style: none;
    display: flex;
  justify-content: space-evenly;
  }
  .inputt{
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 5px;
  }
  .submit-btn {
    background-color: #4796E5;
    color: #ffffff;
    width: 150px;
    border: #ffffff solid 0.5px;
    height: 40px;
  }
  .done-btn, .delete-btn {
    height: 40px;
    width: 100px;
    border: #4796E5 solid 0.5px;
    color: #4796E5;
    background-color: #ffffff
  
  }